#set($responseBody = $input.json('$.responseBody'))
#set($errorMessage = $input.path('$.errorMessage'))
#set($errorType = $input.path('$.errorType'))
#set($headers = $input.path('$.headers'))
#set($stage = $context.stage)
#if(!$context.responseOverride && $stage == 'local')
    #set($context.responseOverride = {\"header\": $headers})
#else
    #set($context.responseOverride.header = $headers)
#end
#set($context.responseOverride.status = $input.path('$.statusCode'))
#if($errorMessage && !$errorMessage.empty)
{
    #if($responseBody && !$responseBody.empty && $responseBody != '\"\"' && $responseBody != '{}')
    \"response\": $responseBody,
    #end
    #if($errorType && !$errorType.empty)
    \"type\": \"$errorType\",
    #end
    #if($stage == 'local')
    \"input\": $input.json('$'),
    \"context\": \"$context\",
    #end
    #if($errorMessage.startsWith('{'))
    \"message\": $errorMessage
    #else
    \"message\": \"$errorMessage\"
    #end
}
#else
    $responseBody
#end
